/* GLOBAL STYLES */
:root {
  --side-margin: 22em;
}

html {
  background-color: #ffffff;
  color: #000000;
  font-family: sans-serif;
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
  position: relative;
}

hr {
  background-color: #00000015;
  border-style: none;
  height: 1px;
}

a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #282bd6;
}

::selection {
  background: #bec7da;
  text-shadow: none;
}

/* HEADER STYLES */
.header-container {
  align-items: center;
  display: flex;
  flex: 1;
  margin-bottom: 20px;
  margin-top: 20px;
}

.header-link  {
  font-size: .85em;
}

.logo {
  font-size: 1.42em;
}

.login-container {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 20px;
  justify-content: end;
}

.login {
  border-color: #00000027;
  border-style: solid;
  border-width: 1px;
  border: #000000;
  color: rgb(0, 0, 0);
  line-height: 2em;
  text-align: center;
  width: 90px;
}

.login:hover {
  border-color: #000000;
  color: #282bd6;
  line-height: 2em;
  text-align: center;
  width: 90px;
}

.logout.login:hover {
  background: #e20a0a;
  border-color: #e20a0a;
  color: #ffffff;
}

.register {
  background-color: #000000;
  border-style: solid;
  border-width: 1px;
  color: white;
  line-height: 2em;
  text-align: center;
  width: 114px;
}

.register:hover {
  background-color: #7e7e7e;
  border-color: #7e7e7e;
  color: #282bd6;
  line-height: 2em;
  text-align: center;
  width: 114px;
}

.display-name {
  font-weight: bold;
  max-width: 275px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

/* LOG IN AND REGISTRATION PAGE STYLES */
.user-form {
  align-items: center;
  display: flex;
  gap: 12px;
  height: 80vh;
  justify-content: center;
}

.form-content {
  align-items: left;
  border-color: #00000015;
  border-style: solid;
  border-width: 2px;
  box-shadow: 8px 8px 10px rgb(102, 102, 102);
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 20px;
  height: 200px;
  justify-content: center;
  padding: 150px;
  text-transform: uppercase;
  width: 200px;
}

.form-button {
  background-color: #000000;
  border-style: solid;
  border-width: 1px;
  color: white;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

.form-button:hover {
  background-color: #313131;
  text-align: center;
  width: auto;
}

/* GRID GAME STYLES */
.grid-game-container-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 12px;
  justify-content: space-between;
  row-gap: 40px;
}

.grid-game-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 19.5em;
  justify-content: space-around;
  width: 15em;
}

.grid-game-cover-container {
  align-items: center;
  display: flex;
  height: 15em;
  justify-content: center;
  width: 15em;
}

.grid-game-cover {
  filter: grayscale(75%);
  height: 14em;
  object-fit:contain;
  overflow:hidden;
  transition: all .25s ease;
  width: 14em;
}

.grid-game-cover:hover {
  filter: grayscale(0%);
  height: 15em;
  width: 15em;
}

.grid-purchase-info-container{
  display: flex;
  justify-content:space-between;
  width: 100%;
}

.grid-game-name {
  color: #000000;
  font-weight: bold;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.grid-game-name:hover {
  color: #282bd6;
}

.grid-price {
  display: flex;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

/* PAGE GAME STYLES */
.page-game-container-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  gap: 12px;
  justify-content: space-between;
}

.page-game-cover-container {
  display: flex;
  height: auto;
  justify-content: center;
  width: 100%;
}

.page-game-cover {
  height: 30em;
  object-fit:contain;
  overflow:hidden;
  width: 30em;
}

/* CART GAME STYLES */
.cart-game-container-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  justify-content: space-between;
}

.cart-game-container {
  align-items: center;
  background-color: #7e7e7e;
  display: flex;
  justify-content: space-between;
}

.cart-game-cover-container {
  align-items: center;
  display: flex;
  height: 15em;
  justify-content: center;
  width: 15em;
}

.cart-game-cover {
  filter: grayscale(75%);
  height: 14em;
  object-fit:contain;
  overflow:hidden;
  transition: all .25s ease;
  width: 14em;
}

.cart-game-cover:hover {
  filter: grayscale(0%);
  height: 15em;
  width: 15em;
}

.cart-purchase-info-container{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 100%;
}

.cart-game-name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.cart-game-name:hover {
  color: #282bd6;
}

.cart-price {
  display: flex;
  text-transform: uppercase;
}