/* GLOBAL DEFINITIONS */
:root {
  --side-margin: 22em;
}

/* HTML STYLES */
html, a {
  color: #000000;
}

html {
  background-color: #ffffff;
  font-family: sans-serif;
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
  position: relative;
}

hr {
  background-color: #00000015;
  border-style: none;
  height: 1px;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #282bd6;
}

::selection {
  background: #bec7da;
  text-shadow: none;
}

/* HEADER STYLES */
.header-container, .login-container {
  align-items: center;
  display: flex;
  flex: 1;
}

.login, .register {
  border-style: solid;
  border-width: 1px;
  line-height: 2em;
  text-align: center;
}

.header-container {
  margin-bottom: 20px;
  margin-top: 20px;
}

.logo {
  font-size: 1.42em;
}

.header-link  {
  font-size: .85em;
}

.login-container {
  gap: 20px;
  justify-content: end;
}

.login {
  border-color: #00000027;
  color: rgb(0, 0, 0);
  width: 90px;
}

.login:hover {
  border-color: #000000;
  color: #282bd6;
}

.logout:hover {
  background: #e20a0a;
  border-color: #e20a0a;
  color: #ffffff;
}

.register {
  background-color: #000000;
  color: #ffffff;
  width: 114px;
}

.register:hover {
  background-color: #7e7e7e;
  border-color: #7e7e7e;
  color: #282bd6;
}

.display-name {
  font-weight: bold;
  max-width: 275px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

/* FORM STYLES */
.user-form, .form-content {
  display: flex;
  justify-content: center;
}

.form-content, .form-button {
  text-transform: uppercase;
}

.user-form {
  align-items: center;
  gap: 12px;
  height: 80vh;
}

.form-content {
  align-items: left;
  border-color: #00000015;
  border-style: solid;
  border-width: 2px;
  box-shadow: 8px 8px 10px rgb(102, 102, 102);
  flex-direction: column;
  font-weight: bold;
  gap: 20px;
  height: 200px;
  padding: 150px;
  width: 200px;
}

.form-button {
  background-color: #000000;
  border-style: solid;
  border-width: 1px;
  color: white;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  width: auto;
}

.form-button:hover {
  background-color: #313131;
  border-color: #313131;
}

/* GRID GAME STYLES */
.grid-game-container-container, .grid-game-container,
.grid-game-cover-container, .grid-purchase-info-container {
  display: flex;
}

.grid-game-container, .grid-game-cover-container {
  width: 15em;
}

.grid-game-container-container, .grid-purchase-info-container  {
  justify-content: space-between;
}

.games-title {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.grid-game-container-container {
  flex-wrap: wrap;
  gap: 12px;
  row-gap: 40px;
}

.grid-game-container {
  align-items: center;
  flex-direction: column;
  height: 19.5em;
  justify-content: space-around;
}

.grid-game-cover-container {
  align-items: center;
  height: 15em;
  justify-content: center;
}

.grid-game-cover {
  filter: grayscale(75%);
  height: 14em;
  object-fit: contain;
  overflow: hidden;
  transition: all .25s ease;
  width: 14em;
}

.grid-game-cover:hover {
  filter: grayscale(0%);
  height: 15em;
  width: 15em;
}

.grid-purchase-info-container {
  width: 100%;
}

.grid-game-name {
  color: #000000;
  font-weight: bold;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.grid-game-name:hover {
  color: #282bd6;
}

/* PAGE GAME STYLES */
.page-game-container-container, .page-game-cover-container {
  display: flex;
}

.page-game-container-container {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
}

.page-game-cover-container {
  height: auto;
  justify-content: center;
  width: 100%;
}

.page-game-cover {
  height: 30em;
  object-fit: contain;
  overflow: hidden;
  width: 30em;
}

.please {
  font-weight: bold;
  text-transform: uppercase;
}

/* CART GAME STYLES */
.cart-game-container-container, .cart-game-container,
.cart-game-cover-container {
  display: flex;
}

.cart-game-container, .cart-game-cover-container {
  align-items: center;
}

.cart-title {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.cart-game-container-container {
  flex-direction: column;
  flex: 1;
  gap: 4px;
}

.cart-game-container {
  align-items: center;
  height: auto;
  justify-content: space-between;
  width: 100%;
}

.cart-game-cover-container {
  justify-content: center;
}

.cart-game-cover {
  height: 8em;
  object-fit:contain;
  overflow:hidden;
  transition: all .25s ease;
  width: 8em;
}

.cart-game-name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 45em;
}

.cart-game-name:hover {
  color: #282bd6;
}

.cart-price {
  display: flex;
  text-transform: uppercase;
}

.cart-qty-button {
  margin-bottom: 2px;
  margin: 0, 16px, 0;
  vertical-align: middle;
}

.numberInput {
  height: 2em;
  width: 3em;
  text-align: end;
}

.delete-button {
  background-color: #00000000;
  border-style: none;
}

.delete-button-image {
  align-self: center;
  filter: brightness(50%);
  height: auto;
  justify-self: center;
  margin: 0;
  transition: all .075s ease;
  width: 1.5em;
}

.delete-button-image:hover {
  filter: brightness(100%);
}

.purchase-button-container{
  display: flex;
  justify-content: flex-end;
}